*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
}

/* variable */
:root{
    --main-var: calc(1vh + 1vw);
}


.dob{
    position: absolute;
    top: calc(var(--main-var) * 8);
    left: calc(var(--main-var) * 23);
    width: calc(var(--main-var) * 15);
    height: calc(var(--main-var) * 1.5);
    font-size: calc(var(--main-var) * 0.7);
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: solid #000 1px;
    border-radius: 8px;
    padding-left: 5px;
}

.date_fail{
    position: absolute;
    top: calc(var(--main-var) * 8.2);
    left: calc(var(--main-var) * 39.3);
    width: calc(var(--main-var) * 15);
    height: calc(var(--main-var) * 1.5);
    font-size: calc(var(--main-var) * 0.8);
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.date_correct{
    position: absolute;
    top: calc(var(--main-var) * 8.1);
    left: calc(var(--main-var) * 39);
    width: calc(var(--main-var) * 1.2);
    display: none;


    animation: icon linear 0.5s alternate forwards 1;
}

@keyframes icon {
    0%{
        top: calc(var(--main-var) * 7.3);
    left: calc(var(--main-var) * 39);
    opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        top: calc(var(--main-var) * 8.1);
    left: calc(var(--main-var) * 39);
    opacity: 1;
    }
}

.status_input{
    position: absolute;
    top: calc(var(--main-var) * 10.8);
    left: calc(var(--main-var) * 23);
    width: calc(var(--main-var) * 15);
    height: calc(var(--main-var) * 1.5);
    font-size: calc(var(--main-var) * 0.7);
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: solid #000 1px;
    border-radius: 8px;
    padding-left: 5px;
}

.status_correct{
    position: absolute;
    top: calc(var(--main-var) * 10.95);
    left: calc(var(--main-var) * 39);
    width: calc(var(--main-var) * 1.2);
    display: none;


    animation: icon_surname linear 0.5s alternate forwards 1;
}


@keyframes icon_surname {
    0%{
        top: calc(var(--main-var) * 10.1);
    left: calc(var(--main-var) * 39);
    opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        top: calc(var(--main-var) * 10.95);
    left: calc(var(--main-var) * 39);
    opacity: 1;
    }
    
}

.status_fail{
    position: absolute;
    top: calc(var(--main-var) * 11);
    left: calc(var(--main-var) * 39.3);
    width: calc(var(--main-var) * 15);
    height: calc(var(--main-var) * 1.5);
    font-size: calc(var(--main-var) * 0.8);
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

#next{
    /* position: absolute;
    top: calc(var(--main-var) * 16.5);
    left: calc(var(--main-var) * 33); */
}

.next_chinese{
    position: absolute;
    top: calc(var(--main-var) * 13.4);
    left: calc(var(--main-var) * 35.5);
    color: red;
}

.next_kazakh{
    position: absolute;
    top: calc(var(--main-var) * 13.4);
    left: calc(var(--main-var) * 34.8);
}

.next_rus{
        position: absolute;
    top: calc(var(--main-var) * 13.4);
    left: calc(var(--main-var) * 33.4);
}

.next_en{
       position: absolute;
    top: calc(var(--main-var) * 13.4);
    left: calc(var(--main-var) * 35.2);
}

.first_step{
    position: absolute;
    top: calc(var(--main-var) * 5.8);
    left: calc(var(--main-var) * 23);
    width: calc(var(--main-var) * 4.4);
    border: solid 4px;
    border-radius: 8px;
    border-color: green;
}


.second_step{
    position: absolute;
    top: calc(var(--main-var) * 5.8);
    left: calc(var(--main-var) * 28.1);
    width: calc(var(--main-var) * 4.4);
    border: solid 4px;
    border-radius: 8px;
    border-color: green;
}

.third_step{
    position: absolute;
    top: calc(var(--main-var) * 5.8);
    left: calc(var(--main-var) * 33.2);
    width: calc(var(--main-var) * 4.4);
    border: solid 4px;
    border-radius: 8px;
}

.text_first_line{
    position: absolute;
    top: calc(var(--main-var)* 5.2);
    left: calc(var(--main-var) * 23);
    font-size: calc(var(--main-var) * 0.85);
    font-family: Arial, Helvetica, sans-serif;
}

.text_second_line{
    position: absolute;
    top: calc(var(--main-var)* 5.2);
    left: calc(var(--main-var) * 28.2);
    font-size: calc(var(--main-var) * 0.85);
    font-family: Arial, Helvetica, sans-serif;
}

.text_third_line{
    position: absolute;
    top: calc(var(--main-var)* 5.2);
    left: calc(var(--main-var) * 33.3);
    font-size: calc(var(--main-var) * 0.85);
    font-family: Arial, Helvetica, sans-serif;
}
.requirements{
    position: absolute;
    top: calc(var(--main-var) * 19);
    left: calc(var(--main-var) * 14);
}

.color_green{
    border-color: green;
    transition: 0.5s ease;
}